@model stock_management.Models.Facture_Articles

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Facture_Articles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Article.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Article.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_Arrivage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_Arrivage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_Expiration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_Expiration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payer)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Facture_ArticleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
